@import 'icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-ivory text-black-light;
}

html.dark {
  @apply bg-black-light text-gray-200;
}

.prettyLink {
  text-decoration: none;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size .3s;
}

.prettyLink {
@apply bg-gradient-to-r from-tangerine to-blueberry pb-1;
}

@media (prefers-color-scheme: dark) {
  .prettyLink {
    @apply bg-gradient-to-r from-punch to-blueberry pb-1;
  }
}
.prettyLink:hover,
.prettyLink:focus {
background-size: 100% 4px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from {
  opacity: 0;
  transform: translate(200px);
}
.page-leave-to {
  opacity: 0;
  transform: translate(-200px);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s;
}
.layout-enter-from {
  opacity: 0;
  transform: translate(200px);
}
.layout-leave-to {
  opacity: 0;
  transform: translate(-200px);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.1s ease-out;
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

.animatedIcon:hover > svg {
    transform: translate(6px)
}

/* Add these new styles */
.shadow-block {
  @apply border-2 border-black dark:border-black;
  box-shadow: 
    8px 8px 0 var(--shadow-color),
    8px 8px 0 2px theme('colors.black.DEFAULT');
}

/* Base shadow color */
.shadow-block {
  --shadow-color: theme('colors.cheese.DEFAULT');
}

/* Color cycling using nth-of-type */
.shadow-block:nth-of-type(6n+1)  {
  --shadow-color: theme('colors.cheese.DEFAULT');
}

.shadow-block:nth-of-type(6n+2)  {
  --shadow-color: theme('colors.blueberry.DEFAULT');
}

.shadow-block:nth-of-type(6n+3)  {
  --shadow-color: theme('colors.lime.DEFAULT');
}

.shadow-block:nth-of-type(6n+4)  {
  --shadow-color: theme('colors.tangerine.DEFAULT');
}

.shadow-block:nth-of-type(6n+5)  {
  --shadow-color: theme('colors.mint.DEFAULT');
}

.shadow-block:nth-of-type(6n+6)  {
  --shadow-color: theme('colors.punch.DEFAULT');
}

/* mux player */
mux-player {
  aspect-ratio: 16 / 9;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --airplay-button: none;
  --pip-button: none;
  --rendition-menu-button: none;
}

/* play button when video is stopped */
mux-player::part(center button pre-play) {
  @apply bg-white border-2 border-solid border-black rounded-none w-[90px] h-[90px];
}

mux-player::part(center button pre-play):hover {
  @apply bg-white shadow-block-lime border-black border-solid border-2 w-[94px] h-[94px] -translate-x-2 -translate-y-2 transition-all;
}

mux-player::part(top) {
  @apply bg-transparent rounded-none;
}

/* controls */
mux-player::part(control-bar bottom) {
  @apply bg-white rounded-none m-0 p-0 border-t-2 border-x-0 border-b-0 border-black border-solid;
}

mux-player::part(bottom) {
  @apply bg-white rounded-none;
}

mux-player::part(time range) {
  @apply bg-white rounded-none border-b-[3px] border-black border-solid border-t-0 border-x-0 py-2;
}


mux-player::part(mute button),
mux-player::part(time display),
mux-player::part(captions button) {
  @apply bg-white rounded-none border-black border-solid border-x border-y-0;
}

mux-player::part(volume range) {
  @apply bg-white rounded-none border-black border-solid border-y-0 border-l border-r-2;
}

mux-player::part(play button) {
  @apply bg-white rounded-none border-black border-solid border-y-0 border-l-0 border-r;
}

mux-player::part(playback-rate button) {
  @apply bg-white rounded-none border-black border-solid border-y-0 border-l-2 border-r;
}

mux-player::part(fullscreen button) {
  @apply bg-white rounded-none border-black border-solid border-y-0 border-l border-r-0;
}

mux-player::part(mute button):hover,
mux-player::part(time display):hover,
mux-player::part(captions button):hover,
mux-player::part(volume range):hover,
mux-player::part(bottom play button):hover,
mux-player::part(playback-rate button):hover,
mux-player::part(fullscreen button):hover {
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
  transition: box-shadow 0.1s ease-in-out;
}